html 
    head 
       title English Dictionary 
       link(rel='stylesheet',href='dictionary.css')
    body 
       div(class="container") 
            fieldset  
                  legend  English Dictionary 
                  br
                  input(type="text", name="keyword", size="50", required="true" )  
                  input(type="submit", value="Search")